.post_card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .card_photo {

  }

  .card_content {
    width: 100%;
    max-width: 500px;

    .post_category {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        margin-right: 12px;
      }

      span {
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 32px;
        color: #33F9ED;
      }
    }

    .title {
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 52px;
      margin-bottom: 20px;
    }

    .tag_wrapper{
      margin-bottom: 27px;

      .post_tag{
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        margin-right: 30px;
        color: #FFFFFF;
      }
    }

    .post_desc{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
    }
  }
}