.multi_carousel{
  .carousel-container{
    min-height: 490px;


  }

  .custom-dot-list-style{
    width: 100%;
    max-width: 540px;
    //background: #070707;
    //opacity: 0.7;
    background-color: rgba(7,7,7,.7);
    border: 1px solid #222222;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px #000000;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;


  }

  .react-multi-carousel-dot button{
    display: none;
  }

  .react-multi-carousel-dot--active button{
    display: inline-block;
    width: 69px;
    height: 20px;
    background: linear-gradient(93.35deg, #AC0B0B 0%, #F97A33 99.41%);
    box-shadow: 0px 0px 20px #C20000, inset 0px -4px 0px #A31818;
    border-radius: 10px;
    opacity: 1;
  }
}

.mc_item{
  @media screen and (max-width: 576px){
    max-width: 198px;

    img{
      max-width: 198px;
      height: auto;
    }
  }
}