.faq_accordion{
  display: flex;
  justify-content: center;
  .accordion{
    width: 100%;
    max-width: 1110px;
    .accordion-item{
      background-color: black;
      color: white;
      .accordion-header{
        margin-bottom: 12px;
        //opacity: .9;

        .accordion-button, [aria-expanded=true]{
          color: white;
          height: 73px;
          //background: #070707;
          //opacity: 0.7;
          background-color: rgba(7,7,7,.7);
          border: 1px solid #222222;
          box-sizing: border-box;
          box-shadow: 0px 4px 20px #000000;
          border-radius: 20px;
          font-family: 'K2D', sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 24px;
          line-height: 31px;
          //opacity: 1;

          &:after {
            background-image: url(../../assets/img/accordion-minus.png);
            opacity: 1;
          }
        }
        [aria-expanded=false]{
          &:after {
            background-image: url(../../assets/img/accordion-plus.png);
            opacity: 1;
          }
        }

        .accordion-body p{
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 23px;
        }
      }
    }
  }
}