.container {
  display: flex;
  justify-content: center;

  .header {
    width: 100%;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 576px){
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.header_wrapper{
  @media screen and (max-width: 992px) {
    max-width: 100%;
  }
}