.roadmap {
  margin-top: 77px;
  position: relative;

  h2{
    text-align: center;
    text-transform: uppercase;

    @media screen and (max-width: 768px){
      margin-bottom: 50px;
    }
  }

  .map{
    width: 100%;
    margin-top: -50px;
  }
}