.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 65px;

  .card {
    width: 100%;
    max-width: 1110px;
    background-color: transparent;

    @media screen and (max-width: 1110px) {
      width: 90%;
    }

    .top_footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media screen and (max-width: 400px) {
        flex-wrap: wrap;
      }

      .footer_logo {
        max-width: 159px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;

        &:hover {
          cursor: pointer;
          -webkit-transform: scale(1.2, 1.2);
          -moz-transform: scale(1.2, 1.2);
          -ms-transform: scale(1.2, 1.2);
          -o-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
        }
      }

      .footer_nav {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        @media screen and (max-width: 576px) {
          display: none;
        }

        li {
          -webkit-transition: all .2s;
          -moz-transition: all .2s;
          -ms-transition: all .2s;
          -o-transition: all .2s;
          transition: all .2s;

          &:hover {
            -webkit-transform: scale(1.2, 1.2);
            -moz-transform: scale(1.2, 1.2);
            -ms-transform: scale(1.2, 1.2);
            -o-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
          }

          a {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            color: #FFFFFF;
            text-decoration: none;
          }
        }

        li:not(:last-child) {
          margin-bottom: 7px;
        }
      }

      .desc {
        width: 100%;
        max-width: 180px;
        @media screen and (max-width: 576px) {
          display: none;
        }
      }

      .social_side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: flex-end;
      }
    }
  }

}