.description_block {
  position: relative;
  display: flex;
  justify-content: center;

  .card {
    width: 100%;
    max-width: 1110px;
    background-color: transparent;
    margin-top: -250px;
    @media screen and(max-width: 1110px) {
      max-width: none;
      width: 90%;
    }

    .box_desc {
      background-color: rgba(7, 7, 7, .7);
      border: 1px solid #222222;
      box-sizing: border-box;
      box-shadow: 0px 4px 20px #000000;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;

      @media screen and(max-width: 992px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .avatar_wrapper {
        position: relative;
        @media screen and(max-width: 992px) {
          margin-bottom: 50px;
        }

        .avatar {
          max-width: 445px;
          width: 100%;
        }

        .btn_wrapper {
          position: absolute;
          bottom: -50px;
          left: 0;
          right: 0;
          display: flex;
          justify-content: center;


        }

      }

      .content {
        width: 100%;
        padding: 35px;
        background-color: black;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title_link {
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          line-height: 35px;
          text-decoration-line: underline;
          color: #FFFFFF;
          margin-bottom: 22px;
        }

        .desc {
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 26px;
        }

        .list_desc {
          margin-bottom: 0;
          padding-left: 0;
          list-style-type: none;

          .list_item {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            span {
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              line-height: 149.5%;

              @media screen and(max-width: 768px){
                font-size: 16px;
                line-height: 24px;
              }
            }

            span.cyan {
              color: #33F9ED;
            }
          }
        }
      }
    }
  }
}