.about_block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)),
  linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 24.48%,
                  rgba(0, 0, 0, 0) 46.88%, #000000 78.65%),
  url(../../../assets/img/about-bg.png) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 775px;

  .card {
    background-color: transparent;
    border: none;
  }

  .dragon {
    position: absolute;
    left: 50%;
    top: 30px;
  }

  .about_clouds {
    position: absolute;
    bottom: -230px;
    left: 0;
    width: 862px;
    height: 558px;
    background: url(../../../assets/img/about-cloud-one.png) no-repeat center center,
    url(../../../assets/img/about-cloud-two.png) no-repeat center center,
    url(../../../assets/img/about-cloud-three.png) no-repeat center center;

    @media screen and (max-width: 900px) {
      left: -300px;
    }

    @media screen and (max-width: 576px) {
      left: -400px;
    }

    @media screen and (max-width: 480px) {
      left: -500px;
    }
  }

  .about_content_wrapper {
    margin-top: 150px;
    //margin-bottom: 122px;
    width: 100%;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: 1110px) {
      width: 90%;
    }

    @media screen and (max-width: 1110px) {
      flex-direction: column;
      align-items: center;
    }

    .about_girl {

    }

    .about_content {
      width: 100%;
      max-width: 635px;

      h2 {
        margin-bottom: 40px;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 24px;
      }

      .link {
        margin-top: 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 39px;
        text-decoration-line: underline;
        color: #FF965A;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;

        &:hover {
          -webkit-transform: scale(1.1, 1.1);
          -moz-transform: scale(1.1, 1.1);
          -ms-transform: scale(1.1, 1.1);
          -o-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
        }
      }
    }
  }


}

.card {
  background-color: transparent;
  border: none;
}

.about_grid {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 1110px) {
    margin-top: 400px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 500px;
  }

  .about_grid_wrapper {
    width: 100%;
    max-width: 1110px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto auto;
    grid-gap: 33px;

    @media screen and (max-width: 1110px) {
      max-width: none;
      width: 90%;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: auto auto ;
      //grid-auto-rows: auto auto auto;
    }

    @media screen and (max-width: 576px) {
      grid-template-columns: auto;
      //grid-auto-rows: auto auto auto;
      align-items: center;
      justify-items: center;
    }

    .about_grid_item {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      @media screen and (max-width: 576px) {
        max-width: 350px;
        align-self: center;
      }

      .icon {
        //background: linear-gradient(93.35deg, #AC0B0B 0%, #F97A33 99.41%);
        //box-shadow: 0px 0px 20px #C20000, inset 0px -8px 0px #A31818;
        margin-bottom: 25px;
      }

      .title {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 11px;
      }

      .description {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
}