.about_block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 24.48%, rgba(0, 0, 0, 0) 46.88%, #000000 78.65%), url(../../../assets/img/about-bg.png) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 775px; }
  .about_block .card {
    background-color: transparent;
    border: none; }
  .about_block .dragon {
    position: absolute;
    left: 50%;
    top: 30px; }
  .about_block .about_clouds {
    position: absolute;
    bottom: -230px;
    left: 0;
    width: 862px;
    height: 558px;
    background: url(../../../assets/img/about-cloud-one.png) no-repeat center center, url(../../../assets/img/about-cloud-two.png) no-repeat center center, url(../../../assets/img/about-cloud-three.png) no-repeat center center; }
    @media screen and (max-width: 900px) {
      .about_block .about_clouds {
        left: -300px; } }
    @media screen and (max-width: 576px) {
      .about_block .about_clouds {
        left: -400px; } }
    @media screen and (max-width: 480px) {
      .about_block .about_clouds {
        left: -500px; } }
  .about_block .about_content_wrapper {
    margin-top: 150px;
    width: 100%;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    @media screen and (max-width: 1110px) {
      .about_block .about_content_wrapper {
        width: 90%; } }
    @media screen and (max-width: 1110px) {
      .about_block .about_content_wrapper {
        flex-direction: column;
        align-items: center; } }
    .about_block .about_content_wrapper .about_content {
      width: 100%;
      max-width: 635px; }
      .about_block .about_content_wrapper .about_content h2 {
        margin-bottom: 40px; }
      .about_block .about_content_wrapper .about_content p {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 24px; }
      .about_block .about_content_wrapper .about_content .link {
        margin-top: 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 39px;
        text-decoration-line: underline;
        color: #FF965A;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        .about_block .about_content_wrapper .about_content .link:hover {
          -webkit-transform: scale(1.1, 1.1);
          -moz-transform: scale(1.1, 1.1);
          -ms-transform: scale(1.1, 1.1);
          -o-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1); }

.card {
  background-color: transparent;
  border: none; }

.about_grid {
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 1110px) {
    .about_grid {
      margin-top: 400px; } }
  @media screen and (max-width: 768px) {
    .about_grid {
      margin-top: 500px; } }
  .about_grid .about_grid_wrapper {
    width: 100%;
    max-width: 1110px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto auto;
    grid-gap: 33px; }
    @media screen and (max-width: 1110px) {
      .about_grid .about_grid_wrapper {
        max-width: none;
        width: 90%; } }
    @media screen and (max-width: 768px) {
      .about_grid .about_grid_wrapper {
        grid-template-columns: auto auto; } }
    @media screen and (max-width: 576px) {
      .about_grid .about_grid_wrapper {
        grid-template-columns: auto;
        align-items: center;
        justify-items: center; } }
    .about_grid .about_grid_wrapper .about_grid_item {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      @media screen and (max-width: 576px) {
        .about_grid .about_grid_wrapper .about_grid_item {
          max-width: 350px;
          align-self: center; } }
      .about_grid .about_grid_wrapper .about_grid_item .icon {
        margin-bottom: 25px; }
      .about_grid .about_grid_wrapper .about_grid_item .title {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 11px; }
      .about_grid .about_grid_wrapper .about_grid_item .description {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        margin-bottom: 20px; }

/*# sourceMappingURL=aboutBlock.css.map */
