.only_timer {
  width: 660px;
  height: 129px;
  background: url(../../assets/img/timer-bg.png) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #222222;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px #000000;
  border-radius: 20px;
  padding: 16px 25px 16px 37px; }
  @media screen and (max-width: 1100px) {
    .only_timer {
      width: 100%;
      min-width: 50vw; } }
  @media screen and (max-width: 992px) {
    .only_timer {
      height: 180px;
      min-width: 90vw; } }
  @media screen and (max-width: 576px) {
    .only_timer {
      padding: 16px 16px 37px 16px;
      height: 135px; } }
  @media screen and (max-width: 477px) {
    .only_timer {
      padding-left: 0;
      padding-right: 0; } }
  .only_timer .table_timer {
    width: 100%;
    max-width: 126px;
    height: 103px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .only_timer .table_timer .pairs {
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 477px) {
        .only_timer .table_timer .pairs {
          -webkit-transform: scale(0.7, 0.7);
          -moz-transform: scale(0.7, 0.7);
          -ms-transform: scale(0.7, 0.7);
          -o-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7); } }
      @media screen and (max-width: 400px) {
        .only_timer .table_timer .pairs {
          -webkit-transform: scale(0.5, 0.5);
          -moz-transform: scale(0.5, 0.5);
          -ms-transform: scale(0.5, 0.5);
          -o-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5); } }
      .only_timer .table_timer .pairs .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 70px;
        color: black;
        font-style: normal;
        font-weight: 800;
        font-size: 70px;
        line-height: 91px;
        background: linear-gradient(180deg, #C4C4C4 0%, #FFFFFF 100%), linear-gradient(180deg, #C4C4C4 0%, #FFFFFF 100%);
        border-radius: 10px;
        background-origin: padding-box, padding-box;
        background-size: 60px 42px, 60px 42px;
        background-position: 0 40px, 0px 42px; }
        @media screen and (max-width: 700px) {
          .only_timer .table_timer .pairs .cell {
            font-weight: 800;
            font-size: 52.144px;
            line-height: 68px;
            background-size: 44px 23px, 44px 23px;
            background-position: 0 23px, 0px 20px;
            width: 44px;
            height: 46px; } }
        .only_timer .table_timer .pairs .cell:first-of-type {
          margin-right: 7px; }
      .only_timer .table_timer .pairs .cell:first-child {
        margin-right: 7px; }
    .only_timer .table_timer .sign {
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 26px;
      margin-top: 5px;
      /*color: black;
      -webkit-text-fill-color: white; !* Will override color (regardless of order) *!
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: black;*/
      /*-webkit-text-stroke: 1px black;
      color: white;
      text-shadow:
              1px 1px 0 #000,
              -1px -1px 0 #000,
              1px -1px 0 #000,
              -1px 1px 0 #000,
              1px 1px 0 #000;*/ }

/*# sourceMappingURL=onlyTimer.css.map */
